<h1 *ngIf="!isAddMode">Edit Ticket</h1>

<form [formGroup]="ticketForm">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Ticket comprado exitosamente!</strong> Se ha reservado tus tickets.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="alerError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ticket resevado no se puede comprar !</strong> No se ha comprado el ticket
        <button (click)="claseAlertError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    <div class="form-row">
        <div class="form-group col-5">
            <label>Id del ticket</label>
            <input type="text" formControlName="id" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        </div>
        <div class="form-group col-5">
            <label>Id client</label>
            <input type="text" formControlName="idClient" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        </div>
        <div class="form-group col-5">
            <label>amount</label>
            <input type="text" formControlName="amount" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        </div>
        <div class="form-group col-5">
            <label>movieProjector</label>
            <input type="text" formControlName="movieProjector" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        </div>
        <div class="form-group col-5">
            <label>movieProjector</label>
            <input type="text" formControlName="dateMovieProjector" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        </div>
        <div class="form-group col-5">
            <label>movieProjector</label>
            <input type="text" formControlName="hourMovieProjector" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        </div>
        <div class="col-md-6 ml-4 mt-n2" *ngIf="seats">
            <label>Sillas seleccionadas</label>
            <ul class="list-group">
                <div>
                    <li *ngFor="let data of seats" class="list-group-item session-item">
                        {{data.numberSeats}}
                    </li>
                </div>
            </ul>
        </div>
        <div class="form-group col" *ngIf="ticketSeats">
            <label for="ticketSeats">Nuevas sillas</label>
            <select class="form-select form-select-sm" aria-label="Default select example" formControlName="ticketSeats"
                id="ticketSeat">
                <option *ngFor="let seat of ticketSeats; let i = index" [value]="ticketSeats[i].id" [disabled]="seat.available==0">
                    <span>{{seat.numberSeats}}</span>
                </option>
            </select>
        </div>
        <button (click)="loadSeat()" *ngIf="!edit" class="btn btn-primary">Editar</button>
        <button (click)="cancel()" class="btn btn-primary" *ngIf="edit">Cancelar</button>
        <button (click)="save()" class="btn btn-success" *ngIf="edit">Guardar</button>
    </div>
</form>