<div class="container">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Ticket comprado exitosamente!</strong> Se ha reservado tus tickets.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="alerError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ticket resevado no se puede comprar !</strong> No se ha comprado el ticket
        <button (click)="claseAlertError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <form [formGroup]="ticketForm" (ngSubmit)="consultTickets()">
            <div class="mb-3">
                <label form="idClient" class="form-label">Id client</label>
                <input validar type="text" id="idClient" placeholder="Id del cliente" class="form-control" formControlName="idClient" aria-describedby="idClient"> 
            <button type="submit" class="btn btn-primary" [disabled]="ticketForm.invalid">Buscar</button>
            </div>
        </form>
    </div>
    <div *ngIf="tickets">
        <h3>Dar click sobre el ticket a eliminar </h3>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Elimiar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of tickets">
                <th scope="row">{{ticket.id}}</th>
                <td><button (click)="deleteTicket(ticket)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
              </tr>
            </tbody>
          </table>

    </div> 
</div>


  