<div class="container">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Ticket comprado exitosamente!</strong> Se ha reservado tus tickets.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="alerError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ticket resevado no se puede comprar !</strong> No se ha comprado el ticket
        <button (click)="claseAlertError()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="row">
        <div class="col-md-9 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card border-dark mb-3 projection-card">
                                <div class="card-header">Compra de tickets</div>
                                <div class="card-body text-dark">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h5 class="card-title">
                                                {{movie.name}}</h5>

                                            <p class="card-text" *ngIf="currentProjection">
                                                {{currentProjection.movieProjection}}
                                            </p>
                                        </div>
                                        <div class="col-md-6 ml-4 mt-n2">
                                            <ul class="list-group">
                                                <div *ngIf="movieProjector">
                                                    <li (click)="onSeats(projection)"
                                                        *ngFor="let projection of movieProjector"
                                                        class="list-group-item session-item">
                                                        {{projection.hourMovie.slice(0,-3)}}
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <div>
                                            <div class="row" *ngIf="seat">
                                                <button (click)="onSelectSeat(data)" class="btn btn-default btn-circle"
                                                    *ngFor="let data of seat" [ngClass]="data.available==1? 'active':''"
                                                    [disabled]="data.available==0">
                                                    {{data.numberSeats}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2" *ngIf="seatTicket.length>0">
                                        <span *ngFor="let ticket of seatTicket">{{ticket.numberSeats}}</span>
                                        <div class="row">
                                            <h1>Crear ticket</h1>
                                        </div>
                                        <div class="row">
                                            <form [formGroup]="ticketForm" (ngSubmit)="crear()">
                                                <div class="mb-3">
                                                    <label form="idClient" class="form-label">Id client</label>
                                                    <input validar type="text" id="idClient"
                                                        placeholder="Id del cliente" class="form-control"
                                                        formControlName="idClient" aria-describedby="idClient">
                                                    <button type="submit" class="btn btn-primary"
                                                        [disabled]="ticketForm.invalid">Crear</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>